<div id="computer_general_info" class="info_box" style="float: left">
	Serial: <%= @computer.serial_number %><br />
	Model: <%= @computer.model %><br />
	System Class: <%= @computer.system_class %>
	Mac Address: <%= @computer.mac_address %><br />
	PO Number: <%= @computer.po_number %><br />
	Division: <%= @computer.division.display_name %><br />
	Last Audited: <%= @computer.last_audited.to_s %>
</div>

<div class="databox">
	<div id="location_data" style='display: <%= @computer.stage.has_location ? "inline" : "none" %>'>
		<%= render :partial => 'location_form' %>
	</div>
	<div id="deployment_data" style='display: <%= @computer.stage.has_deployment ? "inline" : "none" %>'>
		<%= render :partial => 'deployment_form' %>
	</div>
</div>