<% data_set = @remote_data_sets[@service.server_name] %>
<table>
	<tr>
		<td>Name:</td>
		<td><%= data_set["name"] %></td>
	</tr>
	<tr>
		<td>Domain:</td> 
		<td><%= data_set["domain"] %></td>
	</tr>
	<tr>
		<td>Serial:</td>
		<td><%= data_set["serial_number"] %></td>
	</tr>
	<tr>
		<td>User:</td>
		<td><%= data_set["user"] %> </td>
	</tr>
	<tr>
		<td>IP Addresses:</td>
		<td><%= data_set["ip_addresses"].join(", ") %> </td>
	</tr>
	<tr>
		<td>Mac Addresses:</td>
		<td><%= data_set["mac_addresses"].join(", ") %> </td>
	</tr>
	<tr>
		<td>Freshness Date:</td>
		<td><%= data_set["freshness_date"].to_s %></td>
	</tr>