<div id="computer_general_info" class="info_box">
	<b>General Info</b>
	<p>
		Serial: <%= @computer.serial_number %><br />
		Model: <%= @computer.model %><br />
		System Class: <%= @computer.system_class %>
		Mac Address: <%= @computer.mac_address %><br />
		PO Number: <%= @computer.po_number %><br />
		Division: <%= @computer.division %><br />
		Last Audited: <%= @computer.last_audited.to_s %><br />
		<%= link_to "View History", computer_actions_path(@computer), :popup => true %><br />
		<%= link_to "Print Record", { :controller => "computers", :action => "show", :id => @computer.id.to_s, :format => "pdf" }, :popup => true %>
	</p>
</div>

<div id="current_status" class="info_box">
	<b>Current Status</b>
	<p>
		<%= select_tag(:stage, 
							options_for_select(%w{ 	Storage
													Rollout
													Active
													Repair
													Retrieval
													Disposal }, 
												@computer.stage),
							:onchange => remote_function(	:url => {  	
																:action => 'change_state_of_system', 
																:id => @computer.id},
														 		:with => 'Form.Element.serialize(this)'))%>
		since <%= @computer.last_stage_change.to_s %><br />
		<% if (@computer.stage != "Storage" && @computer.stage != "Disposal")%>
			Owner: <%= @computer.owner %><br />
			System Role: <%= @computer.system_role %><br />
			Name: <%= @computer.name%><br />
			Domain: <%= @computer.domain%><br />
		<% else %>
			Location: <%= @computer.location %><br />
		<% end %>
	</p>
</div>

<% if (@computer.stage != "Storage" && @computer.stage != "Disposal")%>
	<div id='licensed_packages' class="list_box">
		<b>Assigned Licenses</b>
		<div class='table'>	
			<%if @computer.licenses.size > 0 %>	
				<table id="licensed_packages_table" class="associated_object_table">
					<% @computer.licenses.each do |member| %>
						<tr>
							<td class="title">
								<%= member.package.short_name %> 
							</td>
							<td class="title">
								<%= member.license_key.to_s %>
							</td>
							<td>
								<%= link_to_remote "X", :url => {  	:action	=> :remove_licensed_package,
																:computer_id	=>	@computer.id,
																:package_id	=>	member.package.id,
																:confirm	=>	("Are you sure you want to delete " + member.short_name + "?")} %><br />
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>
	<div id='installed_peripherals' class='list_box'>
		<b>Installed Peripherals</b>
		<div class='table'>
			<%if @computer.peripherals.size > 0 %>	
				<table id="installed_peripherals_table" class="associated_object_table">
					<% @computer.peripherals.each do |member| %>
						<tr>
							<td class="title">
								<%= member.short_name %> 
							</td>
							<td>
								<%= link_to_remote "X", :url => {  	:action	=> :remove_installed_peripheral,
																	:peripheral_id	=>	member.id,
																	:confirm	=>	("Are you sure you want to delete " + member.short_name + "?")} %><br />
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>
<% end %>

<%= drop_receiving_element('licensed_packages', 
	:accept => ['Package','Bundle'],
	:complete => "$('spinner').hide();", 
	:before => "$('spinner').show();", 
	:hoverclass => 'hover', 
	:with => "'pkg_or_bundle=' + encodeURIComponent(element.id)",
	:url => {   :action      =>  :add_licensed_package_or_bundle, 
				:computer_id  =>  @computer.id}) %>

<%= drop_receiving_element('installed_peripherals', 
	:accept => ['Peripheral'],
	:complete => "$('spinner').hide();", 
	:before => "$('spinner').show();", 
	:hoverclass => 'hover', 
	:with => "'peripheral_id=' + encodeURIComponent(element.id.split('_').last())",
	:url => {   :action      =>  :add_installed_peripheral, 
				:computer_id  =>  @computer.id}) %>
				
