<%= "<tr id=\"new_computer_" + computer.id.to_s + "\">" %>
	<td><%= computer.serial_number%></td>
	<td><%= computer.model%></td>
	<td><%= computer.system_class%></td>
	<td>
		<% form_remote_tag 	:url 	=> { 	:action => :edit_computer } do %>
			<%= hidden_field_tag('id', computer.id)%>
			<%= submit_tag("Edit")%>
		<% end %>
	</td>
	<td>				
		<% form_remote_tag :url => { 	:action => :delete_computer_from_po },
										:confirm	=>	("Are you sure you want to delete this computer?") do %>
			<%= hidden_field_tag('id', computer.id)%>
			<%= submit_tag("Delete")%>
		<% end %>
	</td>
</tr>