<p>
  <b>Name:</b>
  <%=h @server.name %>
</p>

<p>
  <b>Type:</b>
  <%=h @server.species %>
</p>

<p>
  <b>Address:</b>
  <%=h @server.address %>
</p>

<p>
	<b>Domains</b>
	<ul>
		<% @server.domains.each do |s|%>
			<li><%= s.name %></li>
		<% end %>
	</ul>
</p>	

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>