<h1>Editing division</h1>

<% form_for(@division) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :divisions %><br />
    <%= f.text_field :divisions %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @division %> |
<%= link_to 'Back', divisions_path %>