<h1>Listing divisions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Divisions</th>
  </tr>

<% @divisions.each do |division| %>
  <tr>
    <td><%=h division.name %></td>
    <td><%=h division.divisions %></td>
    <td><%= link_to 'Show', division %></td>
    <td><%= link_to 'Edit', edit_division_path(division) %></td>
    <td><%= link_to 'Destroy', division, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to 'Available Computers', "divisions/#{division.id}/computers.pdf?stage_id=1"%>
<% end %>
</table>

<br />

<%= link_to 'New division', new_division_path %>