<h1>New audit</h1>

<% form_for(@audit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :platform %><br />
    <td><%= f.select(:platform, system_classes) %></td>
  </p>
  <p>
    <%= f.label :server_id %><br />
    <%= collection_select :audit, :server_id, @servers, :id, :name %>
  </p>
  <p>
    <%= f.label :domain_id %><br />
    <%= collection_select :audit, :domain_id, @domains, :id, :name %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= collection_select :audit, :site_id, @sites, :id, :name %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', audits_path %>