<div class="databox">
	<b>Serial number:</b> <%=h @peripheral.serial_number %><br />
	<b>Model:</b> <%=h @peripheral.model %><br />
	<b>PO Number:</b> <%=h @peripheral.po_number %><br />
	<b>Division:</b> <%=h @peripheral.division.display_name %><br />
	<b>Notes:</b> <%=h @peripheral.notes %>
</div>