<h1>Listing peripherals</h1>

<table>
  <tr>
    <th>Serial number</th>
    <th>Model</th>
    <th>Division</th>
    <th>Location</th>
  </tr>

<% @peripherals.each do |peripheral| %>
  <tr>
    <td><%=h peripheral.serial_number %></td>
    <td><%=h peripheral.model %></td>
    <td><%=h peripheral.division_id %></td>
    <td><%=h peripheral.current_location %></td>
    <td><%= link_to 'Show', peripheral %></td>
    <td><%= link_to 'Edit', edit_peripheral_path(peripheral) %></td>
    <td><%= link_to 'Destroy', peripheral, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New peripheral', new_peripheral_path %>