<p>
  <b>Serial number:</b>
  <%=h @peripheral.serial_number %>
</p>

<p>
  <b>Model:</b>
  <%=h @peripheral.model %>
</p>

<p>
  <b>Division:</b>
  <%=h @peripheral.division_id %>
</p>

<p>
  <b>Location:</b>
  <%=h @peripheral.location %>
</p>


<%= link_to 'Edit', edit_peripheral_path(@peripheral) %> |
<%= link_to 'Back', peripherals_path %>